body {
    background-color:#f7f7f7;
    font-family: 'courier new', 'monospace'
}

h2 {
    color: #ca6f1e;
    padding: 0 20px;
}

h3 {
    padding: 0 20px;
}

p {
    padding: 20px;
    color: black;
}

label {
    margin-left: 5px;
}
input {
    margin-left: 5px;
}
select {
    margin-left: 5px;
}

#div1, #div2 {
  float: left;
  width: 100px;
  height: 35px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}


 /*classes*/

div.threecolumns {
    float:left;
    width:81%;
    overflow: hidden;
}

div.threecolumns div {
  width:33%;  
  float:left;
}

table {
  font-family: monospace;
  font-size: 0.875em;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #00AA00;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


.main_head {
  color: #ca6f1e; 
  font-family:'courier new';
  font-size:9vw;
  font-weight:bold;
  text-align:center;
  border: 1vw solid red;
  border-radius: 3vw;
  padding: 0;
  margin: 10px 0;
}

.menu {
    float: left;
    width: 19%
}

.menuitem {
    padding: 8px;
    margin-top: 7px;
    border-bottom: 1px solid #73c6b6;
}
.main {
    float: right;
    width: 80%;
    padding: 0px;
    margin-left: 1%;
    overflow: hidden;
}

.footer {
    width: 100%;
    background-color: #e59866;
    text-align: center;
}

@media only screen and (max-width:940px) {
    div.threecolumns div {
        width:100%;
    }
}

#result{
    padding: 20px;
}

